<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jiashuwu.neurograph">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingPageActivity" />
        <activity
            android:name=".InformationCollectionActivity"
            android:label="@string/title_activity_information_collection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TestSelectionActivity"
            android:label="@string/title_activity_test_selection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ImageSelectionActivity"
            android:label="@string/title_activity_image_selection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DurationSelectionActivity" />
        <activity
            android:name=".StaticBackgroundTestActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".StaticCornerBackgroundTestActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DynamicBlankBackgroundTestActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DynamicShowBackgroundActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ThankYouActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DynamicSeasonalBackgroundTestActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DataListActivity"
            android:label="@string/title_activity_data_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TestDetailScrollingActivity"
            android:label="@string/title_activity_test_detail_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TransferActivity"></activity>
    </application>

</manifest>